body {
  margin: 0 auto;
}

header {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: cornflowerblue;
}

main {
  margin-left: 30px;
}

h1 {
  margin: 0 auto;
  color: white;
}

h2 {
  color: cornflowerblue;
}

ul {
  list-style-type: circle;
  line-height: 1.5;
}

.importante {
  font-weight: bold;
  text-decoration: underline;
}

table {
  text-align: center;
}

tbody > tr:nth-child(odd) {
  background: lightblue;
}

tbody > tr:nth-child(even) {
  background: lightsteelblue;
}

td {
  text-align: left;
}

#descanso {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

th,
td {
  padding: 15px 20px;
}

tr:nth-child(odd) > th {
  background-color: lightsteelblue;
}
tr:nth-child(even) > th {
  background-color: lightslategrey;
}

thead > tr:first-child > th {
  background-color: cornflowerblue;
  color: white;
}
